services:
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: web-sekolah-app
        volumes:
            - .:/var/www/html:z
        environment:
            - APP_ENV=${APP_ENV:-local}
            - DB_HOST=master-db
            - DB_PORT=3306
        networks:
            - dev-network
        restart: unless-stopped

networks:
    dev-network:
        external: true
